data/*
slurms/*.out
Nerual-Scene-Flow-Fields/nsff_exp/logs
Neural-Scene-Flow-Fields/nsff_exp/*.png
Neural-Scene-Flow-Fields/nsff_exp/*.mp4
Neural-Scene-Flow-Fields/nsff_exp/*.pcd
Neural-Scene-Flow-Fields/nsff_exp/*.ply
Neural-Scene-Flow-Fields/nsff_scripts/model*
Neural-Scene-Flow-Fields/nsff_scripts/viz_*
