Neural-Scene-Flow-Fields/kid-running
Neural-Scene-Flow-Fields/nsff_scripts/models/*.pt
Neural-Scene-Flow-Fields/nsff_scripts/models/*.pth
Neural-Scene-Flow-Fields/nsff_scripts/*.pt
Neural-Scene-Flow-Fields/nsff_scripts/midas*
Neural-Scene-Flow-Fields/nsff_scripts/viz_*
Neural-Scene-Flow-Fields/nsff_exp/logs
Neural-Scene-Flow-Fields/nsff_exp/*.png
Neural-Scene-Flow-Fields/nsff_exp/*.mp4
Neural-Scene-Flow-Fields/nsff_exp/*.npy
Neural-Scene-Flow-Fields/nsff_exp/*.ply
Neural-Scene-Flow-Fields/nsff_scripts/*.zip
data/*
slurms/*
*.zip
Neural-Scene-Flow-Fields/nsff_scripts/__pycache__/*
Neural-Scene-Flow-Fields/nsff_exp/__pycache__/*
dino_utils/__pycache__/*
benchmarks/*.png
benchmarks/__pycache__/*
dino_utils/*.png
dino_utils/*.pt
webpage/resource/*